@font-face {
	font-family: Futara;
	src: url("../font/futura medium condensed bt.ttf");
}

.title {
	background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  width: 250px;
  height: auto;
}


body {
	font-family: Futara;
	width: 500px;
	margin: 0 auto;
}

#logo {
	width: 100px;
	height: auto;
}

#name {
	float: left;
	clear: both;
}

#group {
	float: right;
}
