{% extends 'base.html' %}
{% block content %}

<p style = "margin-top:80px;font-size:16px;">
Hi {{ session['users'][session['username']]['first_name'] }}!
 <a href="/logout" style="font-size:16px;text-decoration:none;">(Logout)</a>
</p>

  <h1>Friends</h1>
  <nav id = "friends">
    <a href = "/friends">View Friends</a>
    <a href="/groups">View Friend Groups</a>
    <a href = "/addFriends">Add Friends</a>
    <a href="/createFriend">Create Friend Groups</a>
  </nav>

  {% if error %}
    <p class="error" style="font-size:14px;"><strong>Error:</strong> {{ error }}</p>
  {% endif %}
  <form id = "form" action="/addingFriends" method="POST">
    <div id="questions">
      <div id = "question1">
        
      1. Select a group you own:
      <br>
        {% if (data): %}
          {% for group in data %}
            <p>
              <input type="radio" name="group" value="{{ group['group_name'] }}">
              {{ group['group_name'] }}
              <br>
              {{ group['description'] }}
            </p>
          {% endfor %}
        {% else: %}
        <p>
            You don't own any groups! <a href="/createFriend">Make one?</a>
        {% endif %}
      </div>
      <div id ="question2">
        2. Type in the first and last name of the person you'd like to add!
        <p>
          <input type="name" name="name" placeholder="first and last name">
        </p>
        {% if (error == "Please include a username.") or (error == "Username was not found. Please enter a valid one.") %}
          3. Also include the person's username!
            <p>
              <input type="username" name="username" placeholder="username">
            </p>
        {% endif %}
      </div>
    </div>
    <p style="text-align:center;">
      <input type="submit" value = Submit class = "button"/>
    </p>
  </form>

{% endblock %}
