{% extends 'base.html' %}
{% block content %}

    <p style = "margin-top:80px;font-size:16px;">
    Hi <a href = "/profile/{{ session['username'] }}"> {{ session['users'][session['username']]['first_name'] }}</a>! 
     <a href="/logout" style="font-size:16px;text-decoration:none;">(Logout)</a>
   </p>

    {% if error %}
      <p class="error" style="font-size:14px;"><strong>Error:</strong> {{ error }}</p>
      <a href="/edit-post/{{ post_id }}">Go back?</a>
   {% endif %}
   
   {% if editError %}
      <p class="error" style="font-size:14px;"><strong>Error:</strong> {{ editError }}</p>
      <a href="/">Go back?</a>
   {% endif %}

`{% if data %}
   {% if session['username'] != data[0]['username'] %}
      
      You are not the creator of this post! <a href="/">Go back?</a>
   {% else %}

    <h1> Edit Post </h1>
    <div class = "post" style="margin-top:20px;">
      <div class = "main-post-content">
      <div class = "info">
        <span class="postID">
          {{ post_id }}
        </span>
        <span class="date" style="margin-top:0; margin-left:40px;">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{ data[0]['timest'].date() }}
        </span>
        <br>
        <span class="time" style="margin-top:0; margin-left:40px;">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          {{ data[0]['timest'].time() }}
        </span>
      </div>
      <div class = "picture">
        {% if (data[0]['file_path']) %}
          <img src = {{ data[0]['file_path'] }} />
        {% endif %}

      </div>
      <div class = "description">
        <div class = "post-description">
          {{ data[0]['content_name'] }}
        </div>
        <br>
      </div>
    </div>
    </div>

    <form action="/edit-post/processing-{{post_id}}" method="POST" enctype = "multipart/form-data">
      <div id="question1">
      <p style="font-size:14px;">1. Choose another image.</p>
      <input type="file" name = "photo" required/> </br>
      <p style="font-size:14px;">2. Update your description.</p>
      <input type="text" name = "content" placeholder="your updated content" required/></br>
    </div>
    <div id="question2">
      <p style="font-size:14px;">3. Public or private?</p>
      <input type="radio" name = "publicity" value="1" required> Public </input>
      <input type="radio" name = "publicity" value="0" required> Private </input> </br>
    </div>
    <input type="submit" style="margin-top:100px;margin-left:-27.5px" class="button" value="Update" />
    </form>

    <a href="/">Go back</a>
    {% endif %}
    {% endif %}
{% endblock %}
