{% extends 'base.html' %}
{% block content %}

    <p style = "margin-top:80px;font-size:16px;">
    Hi {{ session['users'][session['username']]['first_name'] }}!
     <a href="/logout" style="font-size:16px;text-decoration:none;">(Logout)</a>
    </p>

    <h1> Edit Post </h1>
    {{ post_id }}
    <form action="/edit-post/processing-{{post_id}}" method="POST">
      File Path <br>
      <input type="text" name = "filepath" placeholder="filepath of your image" required/> </br>
      <br>Post Content <br>
      <input type="text" name = "content" placeholder="your updated content" required/></br>
      <br>Public
      <input type="radio" name = "publicity" id="public" value="1"> Yes </input>
      <input type="radio" name = "publicity" id="private" value="0"> No </input> </br>
      <input type="submit" value = Update />
    </form>

    <a href="/">Go back</a>

{% endblock %}
