{% extends 'base.html' %}
{% block content %}

  <p>
    <a href = "/friends">View Friends</a> | <a href = "/addFriends">Add Friends</a> |
    <a href="/createFriend">Create Friend Group</a>
  </p>

  {% for friend in data %}
  <div clas = "friend">
    {% if friend['group_name'] in gname_list %}

      <a href = "/delete-{{friend['username']}}-from-{{friend['group_name']}}">Remove user</a>
    {% endif %}
      <div id = "name">
        <!-- if the friend is a member of a group you own -->
        {% if (friend['username']): %}
          {% set name = friend['username'] %}
          {{ name }}
        {% else %}
          <!-- if the friend is a creator of a group you're a member of -->
          {% set name = friend['username_creator'] %}
          {{ name }}
        {% endif %}
        {{ session['users'][name]['first_name'] }}
        {{ session['users'][name]['last_name'] }}
      </div>
      <div id = "group">
        {{ friend['group_name'] }}
      </div>
  </div>
  {% endfor %}

{% endblock %}
