{% extends 'base.html' %}
{% block content %}

<p style = "margin-top:80px;font-size:16px;">
Hi {{ session['users'][session['username']]['first_name'] }}!
 <a href="/logout" style="font-size:16px;text-decoration:none;">(Logout)</a>
</p>

  <h1>Friends</h1>
  <nav id = "friends">
    <a href = "/friends">View Friends</a>
    <a href = "/addFriends">Add Friends</a>
    <a href="/createFriend">Create Friend Groups</a>
    <a href="/createFriend">View Friend Groups</a>
  </nav>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Group</th>
      </tr>
    </thead>
    <tbody>
    {% for friend in data %}
    <tr>
      <th>
        {% if friend['group_name'] in gname_list %}
          <a href = "/delete-{{friend['username']}}-from-{{friend['group_name']}}">X</a>
        {% endif %}
      </th>
      <th>
          <!-- if the friend is a member of a group you own -->
          {% if (friend['username']): %}
            {% set name = friend['username'] %}
            {{ name }}
          {% else %}
            <!-- if the friend is a creator of a group you're a member of -->
            {% set name = friend['username_creator'] %}
            {{ name }}
          {% endif %}
          {{ session['users'][name]['first_name'] }}
          {{ session['users'][name]['last_name'] }}
      </th>
      <th>
          {{ friend['group_name'] }}
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
