{% extends 'base.html' %}
{% block content %}

    {% for post in data %}
    <div id = "post">
        <h2>{{ post['data'] }}</h2>
        <h3>{{ session['users'][post['username']]['first_name'] }} ({{ post['username'] }})</h3>

        {% if (post['file_path']) %}
          <img src = {{ post['file_path'] }} />
        {% endif %}

        <p>
          {{ post['content_name'] }}
        </p>
        <p>
          <i>Posted on {{ post['timest'] }}</i>
        </p>
        <p>
          <i>Tags:</i>
            {% for tag in tagsData %}
                {% if tag['id'] == post['id'] %}
                  {{ tag['username_taggee'] }}
                {% endif %}
            {% endfor %}
        </p>
        <p>
          <i>pid {{ post['id'] }}.</i>
        </p>
        <p>
          <i>Comments:</i>
        </p>
        <p id = "comments">
          {% for comment in commentsData %}
              {% if comment['id'] == post['id'] %}
                {{ session['users'][comment['username']]['first_name'] }} ({{ comment['username'] }}) says {{ comment['comment_text'] }} on {{ comment['timest'] }}
              {% endif %}
          {% endfor %}
        </p>
        {% if session['username'] == post['username'] %}
          <!-- change href url for dynamic urls -->
          <a href = "/edit-post/{{ post['id'] }}"> edit</a>
          <br>
          <a href = "/delete-post/{{ post['id'] }}"> delete </a>
        {% endif %}

      </div>
      <hr>
    {% endfor %}

{% endblock %}
