{% extends 'base.html' %}
{% block content %}

  <p style = "margin-top:80px;font-size:16px;">
  Hi {{ session['users'][session['username']]['first_name'] }}!
   <a href="/logout" style="font-size:16px;text-decoration:none;">(Logout)</a>
  </p>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
  {% endif %}
  <div id ="posts">
        {% for post in data %}
          <div class = "post">
            <div class = "main-post-content">
            <div class = "info">
              <span class="postID">
                {{ post['id'] }}
              </span>
              <h1 class = "name" style="text-transform:uppercase;">
                {{ session['users'][post['username']]['first_name'] }}
              </h1>
              <span class="username">({{ post['username'] }})</span>

              <span class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ post['timest'].date() }}
              </span>
              <br>
              <span class="time">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ post['timest'].time() }}
              </span>
              <span class="likes" style="font-size:10px;">
                <i class="fa fa-heart fa-1" aria-hidden="true">

                {% if post['id'] in userLikesData.keys() and userLikesData[post['id']]['people']|length > 0 and (session['username'] in userLikesData[post['id']]['people'])%}

                    <a href = "/unlike-post/{{ post['id'] }}" class="unlikelink" style="font-size:14px;color:#ff5c50;"> unlike</a>

                {% else %}
                    <a href = "/like-post/{{ post['id'] }}" class="likelink" style="font-size:14px;color:#ff5c50;"> like</a>
                {% endif %}

                <div class = "people">
                  liked by
                    {% if post['id'] in userLikesData.keys() %}
                      {% if userLikesData[post['id']]['people']|length > 0 %}
                        {% for user in userLikesData[post['id']]['people'] %}
                          {{ user }}
                        {% endfor %}
                      {% endif %}
                    {% else %}
                        none
                    {% endif %}
                </div>

                </i>
              </span>
              <span class="tags" style="font-size:10px;">
                <i class="fa fa-tags" aria-hidden="true"></i>
                {% if tagz[post['id']]|length == 0 %}
                    0 tagged
                {% else %}
                    {{ tagz[post['id']]|length }} tagged
                {% endif %}
              </span>
            </div>
            <div class = "picture">
              {% if (post['file_path']) %}
                <img src = {{ post['file_path'] }} />
              {% endif %}
              {% if session['username'] == post['username'] %}
                <div class = "links">
                  <a href="/edit-post/{{ post['id'] }}" class = "postEdit">edit</a>
                  <a href="/delete-post/{{ post['id'] }}" class = "postDelete">delete</a>
                  <a href = "/tagUser/{{ post['id'] }}" class="postTag">tag</a>
                </div>
              {% endif %}

            </div>
            <div class = "description">
              <div class = "post-description">
                {{ post['content_name'] }}
              </div>
              <br>
            </div>
          </div>
          <div class = "post-react">
            <span class = "postComment" id ={{post['id']}}>Comments</span>
            {% set commentId = "comment" + post['id']|string %}
            <div class = "comment" id ={{commentId}}>
              <div class = "triangle-tip"></div>
              <div class = "comments">
                {% if session['comments'][post['id']]|length > 0 %}
                  {% for comment in session['comments'][post['id']] %}
                  <div id ="aComment" style="margin-bottom:2px">
                      <div id = "comment-info" style="clear:both;">
                        <div id = "comment-name" style = "float:left">{{ session['users'][comment['username']]['first_name']}}({{ comment['username'] }})</div>
                        <div id = "comment-time" style="float:right">{{ comment['time'].date() }}</div>
                        <div id = "comment-time" style="float:right">{{ comment['time'].time() }}</div>
                      </div>
                      <div id = "comment-content" style="color:#fff; font-size:10px;">{{ comment['comment_text']}}</div>
                  </div>
                  {% endfor %}
                  <hr>
                  <a href = "/reply-{{ post['id'] }}" style="font-size: 12px; margin-left: 128px;margin-top: 21px; color: #ccc;">Reply</a>
                {% else %}
                  There are no comments!
                  <hr>
                  <a href = "/reply-{{post['id']}}" style="font-size: 12px;position: absolute; margin-left: 128px;margin-top: -4px; color: #ccc;">Reply</a>
                {% endif %}


              </div>
            </div>
          </div>
          </div>
        {% endfor %}
      </div>


{% endblock %}
