<!DOCTYPE html>
<html>
<head>
  <title>PriCoSha</title>
  <link rel = "stylesheet" href = "{{ url_for('static', filename='style/style.css') }}"></style>
</head>
<body>
    <img src = "{{ url_for('static', filename='brand_assets/logo3.png') }}" id="logo"></img>

    <h2>Please enter your login information</h2>
    <form action="/loginAuth" method="POST">
      Username or Email <br><input type="text" name = "username" placeholder="username or email" required/> </br>
      <br>Password <br>
      <input type="password" name = "password" placeholder="password" required/></br>
      <input type="submit" value = Login />
      {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
      {% endif %}
    </form>

    <a href="/">Go back</a>

</body>
</html>
