{% extends 'base.html' %}
{% block content %}


    {% if not session['logged_in'] %}
      <div>
        <a href="/login">Login</a>
      </div>
    {% else %}
    <p style = "margin-top:80px;font-size:16px;">
    Hi {{ session['users'][session['username']]['first_name'] }}!
     <a href="/logout" style="font-size:16px;text-decoration:none;">(Logout)</a>
    </p>
      <h1> Make Post </h1>
      <form action="/makePost/processing" method = "POST" enctype = "multipart/form-data">
        <div id="question1">
          <p style="font-size:14px;">1. Give your post a content name!</p>
          <input type="text" name = "content_name" placeholder="content name" required/>
          <p style="font-size:14px;">2. Upload your image for your post.</p>
          <input type="file" name = "photo" required/>
        </div>
        <div id="question2" style="font-size:14px;">
        <p style="font-size:14px;">3. Is your post public or private?</p>
        <input type="radio" name = "public" value="1"> Yes </input>
        <input type="radio" name = "public" value="0"> No </input> </br>
        <p style="font-size:14px;">4. Which friend group would you like to share to?</p>
        <input type="text" name = "friend_group_name" placeholder="name of friend group" required/> </br>
      </div>
        <input type="submit" class="button" style="margin-top:20px;margin-left:275px;"value = Submit />
      </form>
      <a href="/">Go back</a>
    {% endif %}


{% endblock %}
