<!DOCTYPE html>
<html>
<head>
  <title>PriCoSha - Tags</title>
  <style>
    img {
      width: 250px;
      height: auto;
    }

    body {
      width: 500px;
      margin: 0 auto;
    }

  </style>

</head>

<body>
  <div>
    <h1>PriCoSha</h1>
  </div>

  {% if not session['logged_in'] %}
    <div>
      <a href="/login">Login</a>
    </div>
  {% else %}
    <i>Hi {{ session['username'] }} ! </i> <a href="/logout">Logout</a> <a href ="/">Home</a>
    <p>
      {% if (data) %}
        <p> These are your pending tags: </p>
        <form action="/proccessTags" method="POST">
          <p>{{ data['username_tagger'] }} has tagged you in  Post ID {{ data['id'] }}</p>
          <input type ="radio" name ={{data['id']}} value=True> Accept</input>
          <input type ="radio" name ={{data['id']}} value=False>Decline</input>
          <input type="submit" value = Submit />
        </form>
      {% else %}
        You do not have any pending tags!
      {% endif %}
    </p>

  {% endif %}

</body>

</html>
